.nbp-table {
  width: 100%;
  border-collapse: collapse;
}

.nbp-table th,
.nbp-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.nbp-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nbp-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
  font-weight: bold;
}

.nbp-table th:nth-child(1),
.nbp-table td:nth-child(1) {
  width: 60%;
}

.nbp-table th:nth-child(2),
.nbp-table td:nth-child(2) {
  width: 10%;
}

.nbp-table th:nth-child(3),
.nbp-table td:nth-child(3) {
  width: auto;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-controls span {
  margin: 0 10px;
}
