.nbp-table-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 450px;
}

.nbp-table-wrapper {
  width: 50%;
  flex-shrink: 0;
}

.historical-rates-container {
  width: 50%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.placeholder-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #777;
  font-style: italic;
  border: 1px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
}

.historical-rates-table-container {
  max-height: 400px;
  overflow-y: auto;
}

// Style tabeli - usunięcie duplikacji
.nbp-table {
  width: 100%;
  border-collapse: collapse;
}

.nbp-table th,
.nbp-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.nbp-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.nbp-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
  font-weight: bold;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
  }

  span {
    margin: 0 10px;
  }
}
